.addButton {
  margin-right: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ff5943;
  background-color: #ffffff;
  border: 1px #0c0c0b solid;
  border-radius: 6px;
  width: 60px;
  }

.addButton:hover {
    background-color: darkgreen;
}

.addButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 128, 0, 0.5);
}
