body {
    background-color: rgb(254, 205, 227); /* Change this to your desired background color */
    color: #333; /* Optional: Set a default text color */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

fieldset {

    padding-bottom: 20px;
    margin: 20px;
    text-align: left;
}

.textInput {
    margin: 10px;
    height: 30px;
}

.ingredientsContainer{
    display: flex;
    flex-direction: row;
    /* width: 100%; */


}
.ingredientsContainer .selectBox {
    height: 30px;
    width: 150px;
    margin: 5px;
}

.ingredientsContainer .smallTextBox {
    height: 20px;
    width: 15px;
    margin: 5px;
}
















textarea {
    height: 5em;
    width: 25em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}














/* .container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: 40px;
} */

.title {
    color: #ff5943;
    margin-bottom: 20px;
}

.form {
    text-align: center;
    /* display: block; */
    margin: 10px auto;
}


.uploadButton {
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

/* .selectInput {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 30%;
} */
/* 
.selectedOption {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
} */