body {
    background-color: rgb(254, 205, 227); /* Change this to your desired background color */
    color: #333; /* Optional: Set a default text color */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

fieldset {

    padding-bottom: 20px;
    margin: 20px;
    text-align: left;
}

.textInput {
    margin: 10px;
    height: 30px;
}






.ingredientsContainer{
    display: flex;
    flex-direction: column;
    /* width: 100%; */


}
.ingredientsContainer .selectBox {
    height: 30px;
    width: 150px;
    margin: 5px;
    padding-block: 1px;
    padding-inline: 2px;
}

.ingredientsContainer .smallTextBox {
    height: 24px;
    width: 100px;
    margin: 5px;
    padding-block: 1px;
    padding-inline: 2px;
}


.ingredientsContainer button {
    height: 24px;
    width: 109px;
    margin: 5px;
    margin-left: 20px;
}

.indredientsList .choiceContainer {
    display: flex;
    flex-direction: row;
}


.ingredientItem {
    margin: 0px;
    padding: 0px;

}

.indredientsList{
    display: flex;
    flex-direction: column;
}


.instructionsBox{
    width: 100%; /* Full width */
    height: auto; /* Adjust height as needed */
    padding: 10px; /* Padding inside the textarea */
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
    background-color: #f9f9f9; /* Background color */
    font-size: 16px; /* Font size */
    font-family: Arial, sans-serif; /* Font family */
    color: #333; /* Text color */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    resize: vertical; /* Allow vertical resizing */
    margin-bottom: 15px; /* Space below the textarea */
}

.instructionsBox:focus{
    border-color: #66afe9; /* Border color on focus */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6); /* Add a shadow on focus */
}





textarea {
    height: 5em;
    width: 25em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}












/* .container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: 40px;
} */

.title {
    color: #ff5943;
    margin-bottom: 20px;
}

.form {
    text-align: center;
    /* display: block; */
    margin: 10px auto;
}


.uploadButton {
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

/* .selectInput {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 30%;
} */
/* 
.selectedOption {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
} */